.menu {
	display: flex;
	gap: 5%;
	background-color: #839aeb;
	padding: 30px;
	align-items: center;
	font-size: 150%;
	color:black;
	border-style: solid;

}

.logoTitulo1 {
	display: none;
	margin-left: 65%;
}

.logoTitulo2 {
	margin-left: 65%;
}

body {
	margin: 0px;
	background-color: #5c5e66;
	font-family: Arial;
}

h2 {
	font-size: 300%;
}

h3 {
	font-size: 40px;
}

.imagenInicio{
	background-image: url("https://picsum.photos/1800/635.jpg");
	padding: 20%;
	background-size: cover;
}

.popular {
	padding-left: 5%;
	padding-right: 5%;
}

.fotosPopular{
	display: grid;
	grid-template-columns: repeat(2, 2fr);
 	gap: 40px;
 	justify-items: center;
}


.tarjetaPopular{
	width: 70%;
	background: #fff;
	box-shadow: 0 4px 10px rgba(0,0,0,0.3);
	display: flex;
	flex-direction: column;
}

.tarjetaPopular img {
	width: 100%;
	height: 250px;
	object-fit: cover;
}

.tituloPopular {
	background: rgba(173, 216, 230, 0.8);
	padding: 8px 12px;
	font-size: 1.4rem;
	font-weight: bold;
	position: absolute;
	top: 0;
	left: 0;
}

.imgPopular {
	position: relative;
	background: #8a2be2;
}

.subtituloPopular {
	text-align: center;
	padding: 8px 0;
	background: #8a2be2;
	font-size: 1rem;
	color: black;
}

.textoPopular {
	padding: 10px;
	background: #8a2be2;
	font-size: 0.9rem;
	color: black;
}


.trending {
	padding-top: 5%;
	padding-left: 2%;
}

.divTrending {
	margin-left: 5%;
	display: flex;
}



tr:nth-child(even) {
	background-color: #839aeb;
	border: 1px solid black;
}

td {
	border: 1px solid black;
	text-align: center;
}


table {
	font-weight: bold;
	border: 1px solid black;
	margin-top: 5%;
}

.vivamus {
	background-color: #6631d7;
	display: flex;
	flex-direction: column;
	text-align: center;
}

.vivamusText {
	background-color: #839aeb;
	margin: 1%;
	border-radius: 65px;
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 5%;
}

/* .vivamus, .tableTrending, .divTrending {
	border-style: solid;
} */

.divTrending {
	width: 95%;
	gap: 8%;
}

.vivamus {
	width: 32%;
	height: 120%;
}

.tableTrending {
	width: 70%;
}

table {
	width: 100%;
	height: 60%;
	font-size: 40px;
}

.separatedText {
	padding-top: 5%;
	padding-left: 5%;
	padding-right: 5%;
	text-align: left;
}

.imgVivamus {
	margin-bottom: 7%;
}

footer {
	background-color: #839aeb;
	border-style: solid;
}

.footerMenu1 {
	display: none;
}

.footerLogo {
	display: flex;
	justify-content: center;
	padding-top: 3%;
}

.footer {
	display: flex;
	gap: 10%;
	margin-left: 2%;
	margin-right: 7%;
	padding-bottom: 5%;
}

.description1 {
	font-size: 23px;
}

.description2 {
	display: none;
}

.SN {
	display: flex;
	justify-content: center;
	gap: 10%;
}

.SN img {
	width: 8%;
}

.contactus {
	align-items: center;
	display: flex;
	flex-direction: column;
	gap: 20px;

}


.contactus input, button {
	background-color: #839aeb;
	border-radius: 10px;
	width: 350px;
	height: 60px;
	border: 3px solid #0c3d66;
	font-size: 25px;
	color: #0c3d66;
}

.contactus button {
	width: 170px;
}


h4{
	margin-top: 0px;
	margin-bottom: 10px;
	font-size: 30px;
}

.footerMenu2 {
	display: flex;
	flex-direction: column;
	gap: 70px;
	font-size: 25px;
	width: 500px;
}









@media (max-width: 700px) {
	.menu {
		display: flex;
		flex-direction: column;
		gap: 30px;
	}

	.botonMenu {
		display: none;
	}

	.logoTitulo1 {
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin: 0%;
	}

	.logoTitulo2 {
		display: none;
	}

	.fotosPopular {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	h2 {
		text-align: center;
	}

	.trending {
		padding-top: 0%;
		padding-left: 0%;
	}

	.divTrending {
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin: 0%;
		width: 100%;
		gap: 0%;
	}

	.tableTrending {
		display: flex;
		flex-direction: column;
		width: 100%;
	}

	.vivamus {
		display: none;
	}

	footer {
		margin-top: 10%;
	}

	.footer {
		display: flex;
		flex-direction: column;
		margin-right: 20px;
		margin-right: 20px;
	}

	.footerMenu1 {
		display: flex;
		flex-direction: column;
		gap: 30px;
		align-items: center;
		margin-top: 30px;
		margin-bottom: 5%;
		font-size: 20px;
	}

	.botonMenu{
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-top: 2%;
		padding-bottom: 2%;
		border-top: 2px solid #0c3d66;
		border-bottom: 2px solid #0c3d66;
		cursor: pointer;
	}

	.botonMenu:hover {
		background-color: #6631d7;
	}

	.footerMenu2 {
		display: none;
	}

	.description1 {
		display:  none;
	}

	.description2 {
		display: flex;
		flex-direction: column;
		font-size: 25px;
		padding: 5%;
		text-align: center;
	}
}
